.moods{
    display: flex;
    flex-direction: column;
    flex: 0.77;
    overflow-x: hidden;
    width: 100%;
}

.allMoods{
    display: flex;
    flex-direction: column;
    flex : 0.77;
    margin-left: 55px;
    overflow-x: hidden;
}